/* Links to the google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* the container */
.wrap{
 width: 100%;
 height: 100%;
 background-color: hsl(0, 0%, 95%);
 display: flex;
 padding: 90px 180px;
 justify-content: center;
 line-height: 20px;
}
Heading1{
 text-decoration: none;
 background-color: hsl(0, 0%, 95%);
 background-color: hsl(31, 77%, 52%);
 font-family: 'Big Shoulders Display', cursive;
 font-size: 25px;
 font-weight: 100;
 margin-bottom: 30px;
 position: absolute;
 right: -20px;
 letter-spacing: 1px;
 height: 1px;
 width: 25px;
} 
/* the car icons */
img{
 width: 50;
 height: 25px;
 position: relative;
 right: -20px;
}
/* Heading one */
h1{
 color: hsl(0, 0%, 95%);
 font-family: 'Big Shoulders Display', cursive;
 font-size: 25px;
 font-weight: 100;
 margin-top: 20px;
 position: relative;
 right: -20px;
 letter-spacing: 1px;
 height: 1px;
 width: 25px;
}
/* Paragraphs*/
p{
 margin-top: 20px;
 padding: 20px;
}
/* first div */
.wrap1{
 background-color: hsl(31, 77%, 52%);
 color: hsla(0, 0%, 100%, 0.75);
 padding: 25px 15px;
 font-family: 'Lexend Deca', sans-serif;
 font-size: xx-small;
 font-weight: 100;
 width: 60%;
 border-top-left-radius: 3%;
 border-bottom-left-radius: 3%;
}
/* second div */
.wrap2{
 background-color: hsl(184, 100%, 22%);
 color: hsla(0, 0%, 100%, 0.75);
 padding: 25px 15px;
 font-family: 'Lexend Deca', sans-serif;
 font-size: xx-small;
 font-weight: 100;
 width: 60%;
}
/* third div */
.wrap3{
 background-color: hsl(179, 100%, 13%);
 color: hsla(0, 0%, 100%, 0.75);
 padding: 25px 15px;
 font-family: 'Lexend Deca', sans-serif;
 font-size: xx-small;
 font-weight: 100;
 width: 60%;
 border-top-right-radius: 3%;
 border-bottom-right-radius: 3%;
}
/* first button */
.btn1{
 background-color: hsl(0, 0%, 95%);
 color: hsl(31, 77%, 52%);
 border-radius: 40px;
 border: hsl(0, 0%, 95%);
 padding: 10px 20px;
 font-family: 'Lexend Deca', sans-serif;
 font-size: 10px;
 font-weight: 200;
 margin-top: 50px;
 position: relative;
 right: -20px;
}
/* second button */
.btn2{
 background-color: hsl(0, 0%, 95%);
 color: hsl(184, 100%, 22%);
 border-radius: 40px;
 border: hsl(0, 0%, 95%);
 padding: 10px 20px;
 font-family: 'Lexend Deca', sans-serif;
 font-size: 10px;
 font-weight: 200;
 margin-top: 50px;
 position: relative;
 right: -20px;
}
/* third button */
.btn3{
 background-color: hsl(0, 0%, 95%);
 color: hsl(179, 100%, 13%);
 border-radius: 40px;
 border: hsl(0, 0%, 95%);
 padding: 10px 20px;
 font-family: 'Lexend Deca', sans-serif;
 font-size: 10px;
 font-weight: 200;
 margin-top: 50px;
 position: relative;
 right: -20px;
}

